html {
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game {
  background: #515151;
}
