*{
  margin: 0; padding: 0; border: none;
  font-family: "Lucida Console", Courier, monospace;
  color: white;
  cursor: pointer;
}
head, head title{
  display: block;
  font-size: 150%;
  text-align: center;
  margin: .5rem;
  color: black;
}
@media (min-width: 700px) {
  ul#colors{
    columns: 3;
  }
}
ul#colors li{
  padding: .5rem;
  margin: .1rem;
}
ul#colors li:hover{
  outline:2px solid red;
}
ul#colors li span{
  background: black;
  color: white;
  padding: 2px;
}
